<html>
	<head>
		<style type="text/css">
			#container {
				max-width: 1600px;
				height: 800px;
				margin: auto;
			}
		</style>
	</head>
	<body>
		<div id="container"></div>
		<script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
		<script src="{{ url_for('static', filename='plugins/sigma.layout.fruchtermanReingold.js') }}"></script>
		<script src="{{ url_for('static', filename='plugins/sigma.plugins.animate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.flot.time.js') }}"></script>
		<script>
			s = new sigma({
				graph: {{ graph|tojson }}, 
				container: 'container',
				settings: {
					defaultNodeColor: '#ec5148'
				}
			});
			sigma.layouts.fruchtermanReingold.configure(s, {iterations: 100});

			sigma.layouts.fruchtermanReingold.start(s);
			var date = new Date(2016, 0, 4); // tag und monat sind 0-basiert!
			data = []
			for(i=0; i < {{occ|tojson}}.length; i++) {
				data.push([date.getTime(), {{occ|tojson}}[i]]);
				date.setDate(date.getDate() + 1);
			}
			$(function() {
				$.plot($("#barchart"), [data], {bars: {show: true, barWidth: 24 * 60 * 60 * 1000, fill: true, fillColor: "#008000"}, 
				xaxis: {mode: "time"}, colors: ["#008000"]});
			});
		  
			date = new Date(2016, 0, 4);
			data2 = []
			for(i=0; i < {{occ2|tojson}}.length; i++) {
				data2.push([date.getTime(), {{occ2|tojson}}[i]]);
				date.setDate(date.getDate() + 1);
			}
		  
			$(function() {
				$.plot($("#barchart2"), [data2], {bars: {show: true, barWidth: 24 * 60 * 60 * 1000, fill: true, fillColor: "#008000"}, 
				xaxis: {mode: "time"}, colors: ["#008000"]});
			});
		</script>
		<div id="barchart" style="width:600px;height:400px"></div>
		<form action="">
			Hashtag: <input type="test" name="hashtag">
			<input type="submit" value="Go">
		</form>
		<div id="barchart2" style="width:600px;height:400px"></div>
	</body>
</html>